<!-- <ion-header>
  <ion-toolbar>
    <ion-title class="titulo">
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-icon name="person"></ion-icon> -->

    <div class="conteudo animate__animated animate__fadeInLeft">
     
      <p class="texto-item">
        Faça login ou cadastre-se para obter melhor experiência com o nosso aplicativo.
      </p>

      <!-- <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar> -->

     <br> <ion-button id="google" (click)="whats()" expand="block" type="submit"
        >Entrar</ion-button>
      <ion-button (click)="whats()" expand="block" type="submit"
        >Conectar com o Google</ion-button>
            
      
       <br> <p style="font-size:16px"> <u>Esqueci minha senha</u> </p>

       <h6  style="font-size:14px" >Ainda não tem conta? </h6>
        <ion-button class="cadastro">Cadastre-se!</ion-button>
    </div>
    



    <div class="conteudo">
        
    <br> <ion-buttons class="id" slot="end">
     <p style="font-size:14px"> Visite nossas redes<p>
       <ion-button>
         <ion-icon name="logo-facebook"></ion-icon>
       </ion-button>
       <ion-button>
         <ion-icon name="logo-twitter"></ion-icon>
       </ion-button>
       <ion-button>
         <ion-icon name="logo-instagram"></ion-icon>
       </ion-button>
     </ion-buttons>
    
   </div>
    <footer>
      
      
      
      </footer>
    
      
</ion-content>
